{{ partial "header.html" . }}

<main class="gallery">
  <!-- MAIN CONTENT -->
  <section class="gallery__wallscape">
    <figure>
      <div style="display: flex; flex-direction: row; gap: 20px;">
        <img src="{{ .Params.image }}" style="flex-shrink: 1">
        {{ if .Params.image2 }}
        <img src="{{ .Params.image2 }}" style="flex-shrink: 1">
        {{ end }}
      </div>
      <figcaption>
        {{ if .Params.title }}
        <h3>&ldquo;{{ .Params.title }}&rdquo;</h3>
        {{ end }}
        {{ if .Params.description }}
        <p>{{ .Params.description }}</p>
        {{ end }}
      </figcaption>
    </figure>
  </section>
  <p><a href="..">Back to the galleries</a></p>
</main>

{{ partial "footer.html" . }}